
 

h2{
    
    color: darkblue;
    font-size: 2em;
    text-align: center;}
    
    

#tag{
    padding: 20px;
    background-color: #BDC3C7;

}

ol{
    color:black;
    font-weight: bold;
    font-size: 1.4em;
    margin: 25px;
}

 
 img#di{
     float: right;
     bottom: 0px;
 }
 section#carousel2> figure > img{
display: none;
margin: 0px auto;
}
section#carousel2> figure.visible > img {
display: block;    
border: 3px solid black;
position: relative;
overflow: hidden;  
}
section#carousel2 > figure > figcaption {
display: none;
}
section#carousel2 > figure.visible > figcaption {
display: block;    
text-align: justify;
font-weight: bold;
font-size: 1.5em;
}
